.footer {
  background: #3e4d4f;
  padding: 48px 0;

  @include media(desktop) {
    padding: 80px 0;
  }
}

.footer-container {
  padding: 0 22px;

  @include media(desktop) {
    padding: 0 120px;
  }
}

.footer-content-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 48px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.footer-form-label {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #f6f9fe;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
  }
}

.footer-form-input {
  padding: 16px;
  background: #182226;
  border: none;
  outline: transparent;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #93b0b6;
  min-height: 53px;
  width: 100%;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 340px;
  }
}

.footer-form-input:focus {
}

.footer-form-input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #93b0b6;
  text-align: center;
}

.footer-form-btn {
  box-shadow: 0 2px 2px 0 rgba(72, 82, 95, 0.4);
  background: #93b0b6;
  border: 1px solid #93b0b6;
  border-radius: 40px;
  padding: 8px 32px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #182226;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include media(desktop) {
    max-width: 340px;
  }
}

.footer-nav-wrapper {
}

.footer-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  @include media(desktop) {
    gap: 48px;
    margin-right: 0;
  }
}

.footer-socials-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-email-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #f6f9fe;
}

.footer-nav {
  margin-bottom: 48px;

  @include media(desktop) {
  }
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  @include media(desktop) {
    justify-content: end;
  }
}

.footer-list-item {
}

.footer-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f6f9fe;
}

.footer-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #f6f9fe;

  @include media(desktop) {
    text-align: right;
  }
}
