<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="section-title-wrapper about-title-wrapper">
        <h2 class="section-title about-title">
          About Elevora – Purpose-Led Consulting
        </h2>
        <picture>
          <source
            srcset="./img/about/about-line-desk.png"
            media="(min-width: 1440px)"
            width="955"
            height="6" />
          <source
            srcset="./img/about/about-line-mob.png"
            width="98"
            height="6" />
          <img
            class="about-line-img"
            src="./img/about/about-line-mob.png"
            alt="Line"
            width="98"
            height="6"
            loading="lazy"
        /></picture>
      </div>
      <p class="section-subtitle about-subtitle">
        <span class="subtitle-span">Who</span> We Are
      </p>
      <p class="about-text">
        Elevora is a boutique consulting studio that blends strategic precision
        with intuitive branding. We help founders and creators design an aligned
        online presence that feels as good as it performs.
      </p>
      <p class="about-img-text">
        ”At <span class="about-img-text-span">Elevora</span>,<br />
        your energy is the strategy.”
      </p>
    </div>
  </div>
</section>
