<section class="section clients-section" id="clients">
  <div class="clients-bg-wrapper">
    <div class="container clients-container">
      <div class="section-title-wrapper clients-title-wrapper">
        <h2 class="section-title clients-title">Who It’s For – Our Clients</h2>
        <picture>
          <source
            srcset="./img/clients/clients-line-desk.png"
            media="(min-width: 1440px)"
            width="1035"
            height="6" />
          <source
            srcset="./img/clients/clients-line-mob.png"
            width="178"
            height="6" />
          <img
            class="clients-line-img"
            src="./img/clients/clients-line-mob.png"
            alt="Line"
            width="178"
            height="6"
            loading="lazy"
        /></picture>
      </div>
      <ul class="clients-list">
        <li class="clients-list-item clients-text-list-item">
          <p class="section-subtitle clients-subtitle">
            Are You<br />
            Craving <span class="subtitle-span">Clarity</span>?
          </p>
        </li>
        <li class="clients-list-item">
          <picture>
            <source
              srcset="./img/clients/freelancer-desk.png"
              media="(min-width: 1440px)"
              width="400"
              height="400" />
            <source
              srcset="./img/clients/freelancer-mob.png"
              width="343"
              height="343" />
            <img
              class="clients-img"
              src="./img/clients/freelancer-mob.png"
              alt="Freelancer"
              width="343"
              height="343"
              loading="lazy"
          /></picture>
        </li>
        <li class="clients-list-item">
          <picture>
            <source
              srcset="./img/clients/marketer-desk.png"
              media="(min-width: 1440px)"
              width="400"
              height="320" />
            <source
              srcset="./img/clients/marketer-mob.png"
              width="343"
              height="274" />
            <img
              class="clients-img"
              src="./img/clients/marketer-mob.png"
              alt="Marketer"
              width="343"
              height="274"
              loading="lazy"
          /></picture>
        </li>
        <li class="clients-list-item">
          <picture>
            <source
              srcset="./img/clients/Coach-desk.png"
              media="(min-width: 1440px)"
              width="400"
              height="400" />
            <source
              srcset="./img/clients/Coach-mob.png"
              width="343"
              height="343" />
            <img
              class="clients-img"
              src="./img/clients/Coach-mob.png"
              alt="Coach"
              width="343"
              height="343"
              loading="lazy"
          /></picture>
        </li>
        <li class="clients-list-item">
          <picture>
            <source
              srcset="./img/clients/worker-desk.png"
              media="(min-width: 1440px)"
              width="400"
              height="320" />
            <source
              srcset="./img/clients/worker-mob.png"
              width="343"
              height="274" />
            <img
              class="clients-img"
              src="./img/clients/worker-mob.png"
              alt="Worker"
              width="343"
              height="274"
              loading="lazy"
          /></picture>
        </li>
        <li class="clients-list-item">
          <picture>
            <source
              srcset="./img/clients/founder-desk.png"
              media="(min-width: 1440px)"
              width="400"
              height="400" />
            <source
              srcset="./img/clients/founder-mob.png"
              width="343"
              height="343" />
            <img
              class="clients-img"
              src="./img/clients/founder-mob.png"
              alt="Founder"
              width="343"
              height="343"
              loading="lazy"
          /></picture>
        </li>
      </ul>
    </div>
  </div>
</section>
