<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-content-wrapper">
      <form
        class="footer-form"
        action="mailto:info@elevora.pro"
        method="POST"
        enctype="text/plain"
      >
        <label class="footer-form-label" for=""
          >Newsletter signup: “Elevora Weekly”<input
            class="footer-form-input"
            type="email"
            placeholder="Enter your email"
            name="email"
            required
        /></label>
        <button type="submit" class="footer-form-btn">
          Get Weekly Insights
        </button>
      </form>
      <div class="footer-nav-wrapper">
        <ul class="footer-socials-list">
          <li class="footer-socials-list-item">
            <a
              class="footer-socials-item-link"
              target="_blank"
              rel="noopener noreferrer"
              href="https://www.linkedin.com/"
            >
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-list-item">
            <a
              class="footer-socials-item-link"
              target="_blank"
              rel="noopener noreferrer"
              href="https://instagram.com/"
            >
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-list-item">
            <a
              class="footer-socials-item-link footer-email-link"
              href="mailto:info@elevora.pro"
            >
              <svg class="footer-socials-icon" width="24" height="24">
                <use href="./img/sprite.svg#icon-email"></use></svg
              >info@elevora.pro
            </a>
          </li>
        </ul>
        <nav class="footer-nav">
          <ul class="footer-list">
            <li class="footer-list-item">
              <a class="footer-link" target="_blank" href="policies.pdf#page=1"
                >Privacy Policy</a
              >
            </li>
            <li class="footer-list-item">
              <a class="footer-link" target="_blank" href="policies.pdf#page=7"
                >Terms & Conditions</a
              >
            </li>
            <li class="footer-list-item">
              <a class="footer-link" target="_blank" href="policies.pdf#page=11"
                >Cookies Policy</a
              >
            </li>
          </ul>
        </nav>
        <p class="footer-text">2025 © elevora.pro. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
