<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Welcome</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">About</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#services">Services</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#clients">Clients</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#process">Process</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#testimonials"
          >Testimonials</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#pricing">Packages</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
    </ul>
    <ul class="context-privacy-list">
      <li class="context-privacy-item">
        <a
          class="context-privacy-link"
          target="_blank"
          href="policies.pdf#page=1"
          >Privacy Policy</a
        >
      </li>
      <li class="context-privacy-item">
        <a
          class="context-privacy-link"
          target="_blank"
          href="policies.pdf#page=7"
          >Terms & Conditions</a
        >
      </li>
      <li class="context-privacy-item">
        <a
          class="context-privacy-link"
          target="_blank"
          href="policies.pdf#page=11"
          >Cookies Policy</a
        >
      </li>
    </ul>
  </nav>
</div>
