<section class="section pricing-section" id="pricing">
  <div class="pricing-bg-wrapper">
    <div class="container pricing-container">
      <div class="section-title-wrapper pricing-title-wrapper">
        <h2 class="section-title pricing-title">Packages</h2>
        <picture>
          <source
            srcset="./img/pricing/pricing-line-desk.png"
            media="(min-width: 1440px)"
            width="1124"
            height="6" />
          <source
            srcset="./img/pricing/pricing-line-mob.png"
            width="267"
            height="6" />
          <img
            class="pricing-line-img"
            src="./img/pricing/pricing-line-mob.png"
            alt="Line"
            width="267"
            height="6"
            loading="lazy"
        /></picture>
      </div>
      <div class="pricing-content-wrapper">
        <div class="pricing-item pricing-subtitle-item">
          <p class="section-subtitle pricing-subtitle">
            <span class="subtitle-span">Work</span> With Us
          </p>
        </div>
        <div class="pricing-item pricing-list-item">
          <ul class="pricing-list">
            <li class="pricing-list-item-wrapper">
              <p class="pricing-item-text">Clarity Session</p>
              <p class="pricing-item-price">– $249 (90 min)</p>
            </li>
            <li class="pricing-list-item-wrapper">
              <p class="pricing-item-text">Blueprint Month</p>
              <p class="pricing-item-price">– $950</p>
            </li>
            <li class="pricing-list-item-wrapper">
              <p class="pricing-item-text">Launch Support Sprint</p>
              <p class="pricing-item-price">– $1,200</p>
            </li>
            <li class="pricing-list-item-wrapper">
              <p class="pricing-item-text">Brand & Aura Build</p>
              <p class="pricing-item-price">– Custom Quote</p>
            </li>
          </ul>
          <a class="pricing-btn" href="#footer">See Full Packages</a>
        </div>
        <div class="pricing-item">
          <picture>
            <source
              srcset="./img/pricing/pricing-bg-desk.png"
              media="(min-width: 1440px)"
              width="403"
              height="514" />
            <source
              srcset="./img/pricing/pricing-bg-mob.png"
              width="343"
              height="400" />
            <img
              class="pricing-img"
              src="./img/pricing/pricing-bg-mob.png"
              alt="People working"
              width="343"
              height="400"
              loading="lazy"
          /></picture>
        </div>
      </div>
    </div>
  </div>
</section>
