<section class="section process-section" id="process">
  <div class="process-bg-wrapper">
    <div class="container process-container">
      <div class="section-title-wrapper process-title-wrapper">
        <h2 class="section-title process-title">
          Process Overview — The Elevora Path
        </h2>
        <picture>
          <source
            srcset="./img/process/process-line-desk.png"
            media="(min-width: 1440px)"
            width="968"
            height="6" />
          <source
            srcset="./img/process/process-line-mob.png"
            width="111"
            height="6" />
          <img
            class="process-line-img"
            src="./img/process/process-line-mob.png"
            alt="Line"
            width="111"
            height="6"
            loading="lazy"
        /></picture>
      </div>
      <p class="section-subtitle process-subtitle">
        <span class="subtitle-span">How</span> We Work
      </p>
      <ul class="process-list">
        <li class="process-list-item">
          <span class="process-item-number">1</span>
          <div class="process-item-text-wrapper">
            <p class="process-item-title">Discover:</p>
            <p class="process-item-text">
              We define your true offer and energetic space
            </p>
          </div>
        </li>
        <li class="process-list-item">
          <span class="process-item-number">2</span>
          <div class="process-item-text-wrapper">
            <p class="process-item-title">Design:</p>
            <p class="process-item-text">
              Systems, identity, content, and tools that reflect you
            </p>
          </div>
        </li>
        <li class="process-list-item">
          <span class="process-item-number">3</span>
          <div class="process-item-text-wrapper">
            <p class="process-item-title">Deploy:</p>
            <p class="process-item-text">
              You launch — grounded, aligned, and ready to scale
            </p>
          </div>
        </li>
      </ul>
      <div class="process-img-wrapper">
        <picture>
          <source
            srcset="./img/process/process-bg-desk.png"
            media="(min-width: 1440px)"
            width="1200"
            height="899" />
          <source
            srcset="./img/process/process-bg-mob.png"
            width="343"
            height="257" />
          <img
            class="process-img"
            src="./img/process/process-bg-mob.png"
            alt="Line"
            width="343"
            height="257"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
