<section class="section services-section" id="services">
  <div class="services-bg-wrapper">
    <div class="container services-container">
      <div class="section-title-wrapper services-title-wrapper">
        <h2 class="section-title services-title">Signature Services</h2>
        <picture>
          <source
            srcset="./img/services/services-line-desk.png"
            media="(min-width: 1440px)"
            width="1076"
            height="6" />
          <source
            srcset="./img/services/services-line-mob.png"
            width="219"
            height="6" />
          <img
            class="services-line-img"
            src="./img/services/services-line-mob.png"
            alt="Line"
            width="219"
            height="6"
            loading="lazy"
        /></picture>
      </div>
      <p class="section-subtitle services-subtitle">
        Our Core <span class="subtitle-span">Offerings</span>
      </p>
      <div class="services-content-wrapper">
        <picture>
          <source
            srcset="./img/services/services-bg-desk.png"
            media="(min-width: 1440px)"
            width="407"
            height="448" />
          <source
            srcset="./img/services/services-bg-mob.png"
            width="343"
            height="378" />
          <img
            class="services-img"
            src="./img/services/services-bg-mob.png"
            alt="Line"
            width="343"
            height="378"
            loading="lazy"
        /></picture>
        <ul class="services-list">
          <li class="services-list-item">
            <p class="services-item-text">Brand Energetics Sessions</p>
          </li>
          <li class="services-list-item">
            <p class="services-item-text">Intuitive Positioning Map</p>
          </li>
          <li class="services-list-item">
            <p class="services-item-text">
              Digital System Setup (Notion / Zapier / Tally)
            </p>
          </li>
          <li class="services-list-item">
            <p class="services-item-text">Personal Brand Audit</p>
          </li>
          <li class="services-list-item">
            <p class="services-item-text">Aura-Driven Content Blueprint</p>
          </li>
          <li class="services-list-item">
            <p class="services-item-text">Launch Flow Architecture</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
