<section class="section testimonials-section" id="testimonials">
  <div class="testimonials-bg-wrapper">
    <div class="container testimonials-container">
      <div class="section-title-wrapper testimonials-title-wrapper">
        <h2 class="section-title testimonials-title">Testimonials</h2>
        <picture>
          <source
            srcset="./img/testimonials/testimonials-line-desk.png"
            media="(min-width: 1440px)"
            width="1105"
            height="6" />
          <source
            srcset="./img/testimonials/testimonials-line-mob.png"
            width="248"
            height="6" />
          <img
            class="testimonials-line-img"
            src="./img/testimonials/testimonials-line-mob.png"
            alt="Line"
            width="248"
            height="6"
            loading="lazy"
        /></picture>
      </div>
      <p class="section-subtitle testimonials-subtitle">
        Client <span class="subtitle-span">Stories</span>
      </p>
      <ul class="testimonials-list">
        <li class="testimonials-list-item">
          <p class="testimonials-item-text">
            “Elevora helped me untangle years of scattered ideas into a brand
            I’m proud of. It felt like brand therapy.”
          </p>
          <p class="testimonials-item-name">– Selene D., Embodiment Coach</p>
        </li>
        <li class="testimonials-list-item">
          <p class="testimonials-item-text">
            “My Notion setup, launch flow, and sales copy came together in two
            weeks. I was finally in flow.”
          </p>
          <p class="testimonials-item-name">
            – Marco L., Digital Product Creator
          </p>
        </li>
        <li class="testimonials-list-item">
          <p class="testimonials-item-text">
            “I didn’t think structure and soul could coexist until I worked with
            Elevora.”
          </p>
          <p class="testimonials-item-name">– Tanya V., Wellness Writer</p>
        </li>
        <li class="testimonials-list-item">
          <p class="testimonials-item-text">
            “They see your essence and turn it into a strategy. Game changer.”
          </p>
          <p class="testimonials-item-name">– Rhea B., Micro-Studio Founder</p>
        </li>
      </ul>
    </div>
  </div>
</section>
